{% extends 'base.html.twig' %}

{% block title %}Blog auto{% endblock %}

{% block body %}

<div class="container d-flex flex-wrap gap-3 mt-4">

    {% include "components/menu.html.twig" %}
        
    {% for annonce in marque.annonces %}
        <div class="container d-flex flex-column align-items-end" style="width: 18rem;">
            {% if app.user %}
                {% for role in app.user.roles %}
                    {% if role == 'ADMIN' %}
                        <div class="btn-group-sm" role="group">
                            <a class="btn btn-warning my-1" style=" --bs-btn-font-size: .75rem;" href="{{path('app_annonce_edit', {'id' : annonce.id}) }}">Edit</a>
                            <a class="btn btn-danger my-1" style="--bs-btn-font-size: .75rem;" href="{{path('app_annonce_delete', {'id' : annonce.id}) }}">Delete</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=" {{ annonce.imgfile }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ annonce.title }}</h5>
                    <p class="card-text">{{ annonce.description|raw }}</p>
                    <a href="{{path('app_annonce_show', {'id' : annonce.id}) }}" class="btn btn-primary" style="--bs-btn-bg: #339af0;">Détails</a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
